$primary              : #26343e;
$secondary            : #993399;
$accent               : #9C27B0;
$green                : #26C200;
$dark                 : #1D1D1D;
$grey_primary         : #7A8583;
$grey_secondary       : #464646;

$background_primary   : #E5EBF0;
$background_secondary : #f8f8ff;

